[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "darwin"]
	path = darwin
	url = https://github.com/yatisht/darwin
[submodule "baseline/software/baseline/software/GASAL2"]
	path = baseline/software/baseline/software/GASAL2
	url = https://github.com/nahmedraja/GASAL2.git
