# ignore visual studio cache file
.vs/
.idea/

# ignore vitis projects
local_seq_align_multiple_sa/local_seq_align_multiple_sa_vitis/
local_seq_align_multiple_sa/vitis_hls.log

# ingore vitis project folder
vitis/
c_cpp_properties.json

/build/
/cmake-build-debug/
/reports
/synthesis
/.vscode/

compile_configs