# ignore visual studio cache file
.vs/
.vscode/
cmake-build-debug/
cmake-build-release/
outputs/CMakeFiles/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.idea/
seq_align_test
out/

# ignore build file at the top level
/build/

# ignore vitis projects
local_seq_align_multiple_sa/local_seq_align_multiple_sa_vitis/
local_seq_align_multiple_sa/vitis_hls.log

# ingore vitis project folder
vitis/
c_cpp_properties.json


# ignore project folder
BasicKernel/

# ignore compilation bitstreams
/compile/_x/
/compile/_x.hw.xilinx_aws-vu9p-f1_shell-v04261818_201920_3/
/compile/_x.sw_emu.xilinx_aws-vu9p-f1_shell-v04261818_201920_3/
/compile/.ipcache/
/compile/.Xil/
/compile/build_dir/
/compile/build_dir.hw.xilinx_aws-vu9p-f1_shell-v04261818_201920_3/
/compile/build_dir.sw_emu.xilinx_aws-vu9p-f1_shell-v04261818_201920_3/
/compile/afi_creation/
/compile/package.sw_emu/
/compile/package.hw/
/compile/.run/
/compile/*.log
/hello_world/
/compile/OCL/_x/
/compile/OCL/.ipcache/
/compile/OCL/.Xil/
/compile/OCL/build_dir/
compile/OCL/vitis_analyzer.jou
compile/OCL/vitis_analyzer.log
compile/OCL/v++_seq_align_multiple_static.log
compile/OCL/v++_a.log
compile/xcd.log
compile/xrc.log
compile/OCL/xcd.log
compile/xcd.log
compile/xrc.log
compile/dp-hls-host
compile/OCL/xrc.log
compile/OCL/host
compile/emconfig.json
compile/_x.hw_emu.xilinx_aws-vu9p-f1_shell-v04261818_201920_3/
compile/build_dir.hw_emu.xilinx_aws-vu9p-f1_shell-v04261818_201920_3/