# ignore visual studio cache file
.vs/
.vscode/
cmake-build-debug/
cmake-build-release/
outputs/CMakeFiles/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.idea/
seq_align_test
out/

# ignore build file at the top level
/build/

# ignore vitis projects
local_seq_align_multiple_sa/local_seq_align_multiple_sa_vitis/
local_seq_align_multiple_sa/vitis_hls.log

# ingore vitis project folder
vitis/
c_cpp_properties.json

# ignore compilation bitstreams
/compile/_x
/compile/.ipcache
/compile/.Xil
/compile/build_dir
/compile/*.log
