[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "baseline/hardware/Darwin-WGA"]
	path = baseline/hardware/Darwin-WGA
	url = https://github.com/gsneha26/Darwin-WGA
