[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "baseline/hardware/Darwin-WGA"]
	path = baseline/hardware/Darwin-WGA
	url = https://github.com/gsneha26/Darwin-WGA
[submodule "baseline/hardware/darwin"]
	path = baseline/hardware/darwin
	url = https://github.com/yatisht/darwin
[submodule "baseline/software/baseline/software/GASAL2"]
	path = baseline/software/GASAL2
	url = https://github.com/Yufeng98/GASAL2.git
[submodule "baseline/software/minimap2"]
	path = baseline/software/minimap2
	url = https://github.com/lh3/minimap2.git
[submodule "baseline/software/seqan3"]
	path = baseline/software/seqan3
	url = https://github.com/seqan/seqan3.git
